.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 80vh;
  width: 100%;

}

.hero-img {
  margin-top: 150px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 30%;
}

.hero-title {
  font-size: 2rem;
  color: white;
}

.hero-title span {
  color: #007bff;
}
