.smart-crop-section {
  display: flex;
  flex-direction: column; /* Stacks cards vertically */
  align-items: center;    /* Centers cards horizontally */
  gap: 20px;              /* Adds space between cards */



  padding-bottom: 50px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #222; /* Card background color */
  padding: 20px;
  border-radius: 10px;
  max-width: 800px; /* Set a maximum width for the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;     /* Make the card responsive */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.card:hover {
  transform: translateY(-10px); /* Moves the card up slightly */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adds a stronger shadow on hover */
}

.card-image {
  max-width: 150px; /* Adjust the size of the image */
  margin-right: 20px; /* Space between image and content */
}

.card-content1 {
  text-align: left;
}

.card-content1 h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.card-content1 p {
  text-align: center;
  font-size: 16px;
  color: white;
  line-height: 1.5;
}
